 

body{
    background: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#exibicao-palavra{
    font-size: 3em;
    margin-bottom: 30px;
}

#letras-chutadas{
    font-size: 2em;
    color: blue;
    font-weight: bold;
    margin-bottom: 20px;
}

#mensagem{
    display: none;
}


#botao-reiniciar{
    display: none;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#botao-reiniciar:hover{
    background-color: #027005;
}